body {
    margin: 0;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    background-color: #E5F5FD;
    color: #000000;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 150%;
}

h1 a {
    text-decoration:none;
    color:#000;
}

h2 {
    text-align:center;
    font-family: Arial, sans-serif;
    font-size: 130%;
}

p, th, td, dl, legend {
    font-family: Verdana, sans-serif;
    font-size: 100%;
}

dt {
    float:left;
    margin-right: 10px;
}

dt:after {
    content: ":";
}

li {
    display:inline;
    margin-right:10px;
}

form {
    overflow:hidden;
}

.wrapper {
    float:left; 
}

table.listing {
    border-spacing: 0;
    width: 100%;
}

table.listing a {
    color: #004400;
}

table.listing a:hover {
    background-color: #fff0c0;
}

table.info td {
    border: 1px inset #808080;
    padding: 2px;
}

th {
    text-align:left;
}

tr.even {
    background-color: #DDDDDD;
}

tr.odd {
    background-color: #C8C8C8;
}

tr.link:hover {
    background-color: #fff0c0;
}

#wrapper {
    background-color: #ffffff;
    width: 100%;
}

#title {
    color: #555;
    background-color: #E5F5FD;
    width:100%;
    padding-top:10px;
    padding-bottom:5px;
}

#logo {
    float:left;
    margin-right:55px;
}

#menu {
    width: 100%;
    border-bottom: 10px solid #e5f5fd;
    text-align: center;
}

#menu a {
    font-family: Arial, sans-serif;
    color: #000000;
    text-decoration:none;
}

#menu a:hover {
    color: #009CE8;
    border-bottom:  4px solid #009ce8;
}

#menu ul {
    margin: 5px;
    padding: 0;
}

#menu li {
    margin: 0;
    list-style-type: none;
    display: inline;
    padding: 6px 10px 6px 10px; 
    border-left: 1px solid #e5f5fd;
    border-right: 1px solid #e5f5fd;
    border-spacing: 0;
}

#content {
    padding: 5px;
}

#clearance_history td {
    font-family: arial, sans-serif;
    font-size: 90%;
    padding: 8px 5px 8px 5px;
    
}

@media print {
    html, body {
       margin: 0;
    }
    #title, #menu, #logo {
	display:none;
    }
    p, td {
	font-size: 10pt;
    }
}

